{% extends "base.html" %} {% block title %}Games{% endblock %} {% block main %}
<main class="main">
    <h1>Booogle Games</h1>
    <div class="home_sets">
        <a href="/play/Parkour"><img draggable="false" alt="Parkour" src="/static/game_icons/Parkour.png"><strong>Parkour</strong><p>Play the Parkour Game.</p></a>
        <a href="/play/Quest"><img draggable="false" alt="Quest" src="/static/game_icons/Quest.png"><strong>Quests</strong><p>Play the Quests Game.</p></a>
        <a href="/play/Maze"><img draggable="false" alt="Maze" src="/static/game_icons/Maze.png"><strong>Maze</strong><p>Play the Maze Game.</p></a>
    </div>
</main>
{% endblock %}