{% extends "base.html" %} {% block title %}Time{% endblock %} {% block main %}
<main class="main">
    <h1>Time Apps</h1>
    <div class="home_sets">
        <a href="/time/time"><img draggable="false" alt="Time" src="/static/app_icons/Time.webp"><b>Time</b><p>Check the time to make sure you aren't late.</p></a>
        <a href="/time/stopwatch"><img draggable="false" alt="Stopwatch" src="/static/app_icons/Timer.webp"><b>Stopwatch</b><p>Time yourself</p></a>
        <a href="/time/countdown"><img draggable="false" alt="Countdown" src="/static/app_icons/Countdown.webp"><b>Countdown</b><p>Set youself a countdown timer</p></a>
    </div>
</main>
{% endblock %}